.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
  color: #FFF;

  &--black {
    color: #000;

    & a {
      background-color: #000;
    }
  }

  @include tablet {
    display: none;
  }
}

.fixed-menu__list {
  display: flex;
  flex-direction: column;
  font-size: 6rem;
  gap: 0.6rem;
}

.fixed-menu__item { 
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active, &:hover  {
    background-color: transparent;
    border: 1.7px solid;
    border-radius: 50%;
  }
}

.fixed-menu__link {
  display: block;
  width: 0.7rem;
  height: 0.7rem;
  background-color: #FFF;
  border-radius: 50%;

}
